!!! 5
html(lang="en-gb")
    head

        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        - if ((agent === 'android') || (agent === 'iphone') || (agent === 'ipad') || (agent === 'ipod'))
            meta(name="viewport", content="width=device-width,user-scalable=no")
        
        title Kiwi IRC
        link(rel="shortcut icon", href="/img/ico.png")
        link(rel="stylesheet", type="text/css", href="/css/default.css")
        link(rel="stylesheet", type="text/css", href="/css/ui.css")

        - if (touchscreen)
            link(rel="stylesheet", type="text/css", href="css/touchscreen_tweaks.css")
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
        script(type="text/javascript")
            !window.jQuery && document.write(unescape('%3Cscript type="text/javascript" src="js/jquery-1.6.4.min.js"%3E%3C/script%3E'))
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
	script(type="text/javascript")
            !window.jQuery && document.write(unescape('%3Cscript type="text/javascript" src="js/jquery-ui.1.8.16.min.js"%3E%3C/script%3E'))


    body

        div#kiwi
            div.connectwindow
                h1.logo Kiwi IRC
                div#login
                    form.formconnectwindow
                        div.content.top
                            ul
                                li
                                    label(for="nick") Your nickname:
                                    input(type="text", id="nick", name="nick", class="nick", placeholder="Your nick..", value=nick)
                            a.connect(href="") Connect...

                        - var display
                        - if (server_set)
                            - display = 'display:none'
                        - else
                            - display = '';
                        div.more(style=display)
                            a(href="", class="more_link") more
                            div.content.bottom
                                ul
                                    li
                                        label(for="network") Server:
                                        input(type="text", id="network", name="network", class="network", value=server)
                                    li
                                        label(for="channel") Channel:
                                        input(type="text", id="channel", name="channel", class="channel", value="#kiwiirc")
                                    li(class="section")
                                        label(for="port") Port:
                                        input(type="text", id="port", name="port", class="port", value=port)
                                    li
                                        label(for="ssl") SSL:
                                        - if (ssl)
                                            input(type="checkbox", id="ssl", name="ssl", class="ssl", checked)
                                        - else
                                            input(type="checkbox", id="ssl", name="ssl", class="ssl")
                                        
                                a.connect(href="") Connect...


            
            div.toolbars
                div.windowlist
                    div.poweredby Powered by Kiwi IRC
                        img(src="/img/ico.png")
                    ul

                div.utilityviewlist
                    ul

                div.cur_topic(contenteditable="true", spellcheck="true")
                    //
                        ul.edit(style="float:right;")
                            li
                                img(src="img/more.png")
                                    ul#kiwi_menu
                                        li Item 1
                                        li Item 2
                                        li Item 3
                    div.topic(style="margin-right:5em; overflow:hidden; white-space: pre-wrap; word-wrap: break-word;")

            div.userlist
                ul

            div#windows.windows
                div#panel1.panel
                    div.scroller(style="width:100%;height:100%;")

                div#panel2.panel

            div.control
                div.msginput
                    div.nick
                        a
                        | :
                    input(type="text", name="kiwi_msginput", id="kiwi_msginput")
                div.plugins
                    ul
                        li
                            a.load_plugin_file Plugins
                        - if (debug)
                            li
                                a.reload_css Reload CSS

        script(type="text/javascript", src="/socket.io/socket.io.js")
        script(type="text/javascript", src="/js/jquery.json-2.2.min.js")

        - if (debug)
            script(type="text/javascript", src="/js/underscore.min.js")
            script(type="text/javascript", src="/js/util.js")
            script(type="text/javascript", src="/js/gateway.js")
            script(type="text/javascript", src="/js/front.js")
            script(type="text/javascript", src="/js/front.events.js")
            script(type="text/javascript", src="/js/front.ui.js")
            script(type="text/javascript", src="/js/iscroll.js")
        - if (!debug)
            script(type="text/javascript", src="/js/all.js")
        
        //script(type="text/javascript", src="/js/plugins.js")

        - if (touchscreen)
            script(type="text/javascript", src="/js/touchscreen_tweaks.js")

        - var proto
        - if (secure)
            - proto = 'https'
        - else
            - proto = 'http'
        script(type="text/javascript")
            var agent = '#{agent}';
            var touchscreen = #{touchscreen};
            var init_data = {};
            var kiwi_server = '#{proto}://' + document.location.host + '/kiwi';
            var touch_scroll;
            
            $(document).ready(function(){
                manageDebug(#{debug});

                //#channel,##channel,&channel
                var chans = document.location.hash.match(/[#&]+[^ ,\\007]+/g);
                if(chans != null && chans.length > 0) {
                    init_data.channel = chans.join(',');
                }
                
                kiwi.front.init();
                kiwi.gateway.start(kiwi_server);
                
                addEvents();
                $('.nick').focus();
            });
            
            
            function addEvents(){
                $('.more_link').click(function(){ $('.content.bottom').slideDown('fast'); $('.network').focus(); return false; });
                $('a.connect').click(function(){ $('.formconnectwindow').submit(); return false; });

                var input_submit = function(e){
                    if (e.which === 13) $('.formconnectwindow').submit();
                }
                $('.formconnectwindow .nick').keydown(input_submit);
                $('.formconnectwindow .channel').keydown(input_submit);
                $('.formconnectwindow .network').keydown(input_submit);
                $('.formconnectwindow .port').keydown(input_submit);
            }


        script#tmpl_about_box(type="text/x-jquery-tmpl")
            |    <h2>Kiwi IRC</h2>
            |    <p>An alternative to downloading an irc client. Kiwi IRC is the best web app you'll use for the next couple years.</p>
            |    <button class="about_close">Close</button>
            |    <p class="info">${about}</p>
        
        script#tmpl_change_nick(type="text/x-jquery-tmpl")
            |    <div class="newnick box">
            |        <span class="caption"></span>
            |        Your new nickname:<br />
            |        <form class="form_newnick">
            |            <input type="text" class="txtnewnick" /><br />
            |            <button class="butnewnick" type="submit">Change</button> <a class="link cancelnewnick">Cancel</a>
            |        </form>
            |    </div>


        script#tmpl_plugins(type="text/x-jquery-tmpl")
            |    <div class="list">
            |        <h2>Kiwi plugins</h2>
            |        <p>
            |            <select multiple="multiple" id="plugin_list">
            |            </select>
            |            <button id="plugins_list_unload">Unload</button>
            |        </p>
            |    </div>
            |    <div class="load">
            |        Plugin file URL:<br />
            |        <form>
            |            <input type="text" class="txtpluginfile" /><br />
            |            <button class="butnewnick" type="submit">Load..</button> <a class="link cancelpluginfile">Cancel</a>
            |        </form>
            |    </div>

        script#tmpl_user_box(type="text/x-jquery-tmpl")
            |    <div class="userbox">
            |        <input type="hidden" class="userbox_nick" value="${nick}" />
            |        <a class="userbox_query">Message</a>
            |        <a class="userbox_whois">Info</a>
            |    </div>

        script#tmpl_network_menu(type="text/x-jquery-tmpl")
            |    <ul id="network_menu">
            |       <li><a class="link" onclick="kiwi.front.run('/motd');Tabview.getServerTab().show();">Show MOTD</a></li>
            |       <li><a class="link" onclick="kiwi.front.run('/list');">Channel list</a></li>
            |    </ul>
